<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.weiyuexin.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="top.weiyuexin.entity.Article">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="star" jdbcType="INTEGER" property="star" />
    <result column="commentNum" jdbcType="INTEGER" property="commentnum" />
    <result column="readNum" jdbcType="INTEGER" property="readnum" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="top.weiyuexin.entity.Article">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, author, type, title, time, star, commentNum, readNum
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.weiyuexin.entity.Article">
    insert into article (id, author, type, 
      title, time, star, 
      commentNum, readNum, content
      )
    values (#{id,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{star,jdbcType=INTEGER}, 
      #{commentnum,jdbcType=INTEGER}, #{readnum,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="top.weiyuexin.entity.Article">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="commentnum != null">
        commentNum,
      </if>
      <if test="readnum != null">
        readNum,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="star != null">
        #{star,jdbcType=INTEGER},
      </if>
      <if test="commentnum != null">
        #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="readnum != null">
        #{readnum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.weiyuexin.entity.Article">
    update article
    <set>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="commentnum != null">
        commentNum = #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="readnum != null">
        readNum = #{readnum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.weiyuexin.entity.Article">
    update article
    set author = #{author,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      star = #{star,jdbcType=INTEGER},
      commentNum = #{commentnum,jdbcType=INTEGER},
      readNum = #{readnum,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.weiyuexin.entity.Article">
    update article
    set author = #{author,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      star = #{star,jdbcType=INTEGER},
      commentNum = #{commentnum,jdbcType=INTEGER},
      readNum = #{readnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>