.home {
    width: 80%;
    margin: 0 auto;
}

.home .menu {
    min-height: 430px;
    width: 240px;
    margin-top: 20px;
    background-color: #fff;
}

.home .content {
    min-height: 428px;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 26px;
    padding: 30px 50px;
}

.home .content .content-title {
    width: 100%;
    height: 50px;
}

.home .content .content-title .changeAccountMessage {
    float: right;
}

.home .content .content-title .title {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
    float: left;
}

.home .content ul {
    width: 100%;
    margin-top: 5px;
}

.home .content ul li {
    width: 100%;
    margin-bottom: 20px;
    line-height: 20px;
}

.home .content ul li .account_name {
    color: #778a99;
    width: 85px;
    margin-right: 20px;
    display: inline-block;
}

.home .menu ul {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.home .menu ul li {
    width: 240px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #778a99;
    cursor: pointer;
}

.home .menu ul li a {
    width: 100%;
    height: 100%;
    color: #778a99;
}

.home .menu ul li a:hover {
    width: 100%;
    height: 100%;
    color: #559ae2 !important;
}

.home .menu ul .active {
    color: #559ae2;
    background-color: #f6f6f8;
    border-left: 2px solid #559ae2;
}

.home .menu ul .active a {
    width: 100%;
    height: 100%;
    color: #559ae2;
}

.home .menu ul li:hover {
    background-color: #f6f6f8;
    color: #559ae2;
    border-left: 2px solid #559ae2;
}

.home .menu .logo {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

.home .menu .logo img {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border-radius: 50px;
    cursor: pointer;
}

.home .menu .logo .logo-name {
    font-size: 20px;
    margin-top: 15px;
}

.home .content .article {
    height: 100px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
}
.home .content .article:hover {
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
}

.home .content .articlt .article-left {
    height: 100%;
}

.home .content .article .article-left .article-title a {
    font-size: 20px !important;
    font-family: 宋体;
    font-weight: bold;
}

.home .content .article .article-left .article-content {
    margin-top: 40px;
    font-size: 13px;
}

.home .content .article .article-left .article-num {
    bottom: 10px;
    margin-top: 30px;
}

.home .content .article .article-right .article-time {
    float: right;
    font-size: 15px;
    text-align: right;
}

.home .content .article .article-right .article-operation {
    float: right;
    font-size: 14px;
    color: #000;
    text-align: right;
    margin-top: 60px;
}

.home .content .article .article-right .article-operation a {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.home .content .articleList .articleRank {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #9399a6;
    font-weight: bold;
}

.home .content .articleList .articleRank span {
    float: right !important;
    margin-left: 20px;
    cursor: pointer;
}

.home .content .articleList .articleRank .RankActive {
    color: #559ae2;
}
.editAccountMessage .layui-upload{
    margin-left: 10px !important;
}
.editAccountMessage .layui-upload #accountHead{
    max-height: 100px;
    max-width: 100px;
}