.home .article-content {
    float: left;
    background-color: #fff;
    padding-bottom: 20px;
    height: 100%;
    padding: 40px;
}
.home .article-content .layui-upload{
   margin-left: 30px;
}

.home .article-title {
    width: 96%;
    height: 80px;
    /* background-color: red; */
    padding: 30px;
}

.home .article-title h1 {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .article-title span {
    color: #999aaa;
    font-size: 15px;
    font-style: italic;
}

.home .article-title .article-author {
    font-size: 14px;
}


/* 评论 */

.home .articleContent {
    width: 95%;
    /* background-color: red; */
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
}

.home .article-content .comment {
    min-height: 200px;
    margin-top: 20px;
    border-top: 20px solid #F1F1F1;
    padding: 20px;
}

.home .article-content .comment .comment_input {
    min-height: 100px;
}

.home .article-content .comment .comment_input .comment_content .layui-input-block {
    margin-left: 70px !important;
    min-height: 80px;
}

.home .article-content .comment .comment_input .comment_content .comment_submit_btn {
    float: right;
    margin-top: 20px;
}

.home .article-content .comment .comment_input .comment_author_logo {
    width: 50px;
    height: 50px;
}

.home .article-content .comment .comment_input .comment_author_logo img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    float: left;
    margin-left: 20px;
}

.home .article-content .comment .comment-num {
    padding-left: 20px;
}

.home .article-content .comment .comment-num .quanbupinglun {
    font-size: 18px;
    font-weight: bold;
}

.home .article-content .comment .comment-num .comment_number {
    font-size: 18px;
    font-weight: bold;
    color: #999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home .article-content .comment .comment_list {
    margin-top: 20px;
    padding-left: 20px;
}

.home .article-content .comment .comment_list ul {
    width: 100%;
    min-height: 10px;
    /* background-color: red; */
}

.home .article-content .comment .comment_list ul li {
    width: 100%;
    height: auto;
    /* background-color: #000; */
    border-top: 1px solid #f1f1f1;
    padding-top: 5px;
}

.home .article-content .comment .comment_list ul li .author_message .comment_list_author_logo {
    float: left;
}

.home .article-content .comment .comment_list ul li .author_message .comment_list_author_logo img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.home .article-content .comment .comment_list ul li .author_message .author_mess {
    margin-left: 10px;
    float: left;
}

.home .article-content .comment .comment_list ul li .author_message .author_mess .author_name {
    font-weight: bold;
    font-size: 18px;
}

.home .article-content .comment .comment_list ul li .author_message .author_mess .comment_time {
    font-size: 12px;
    color: #9399a6;
    margin-top: 7px;
}

.home .article-content .comment .comment_list ul li .author_message .comment_star {
    float: right;
    font-size: 16px;
}

.home .article-content .comment .comment_list ul li .comment_body {
    margin-left: 50px;
    margin-top: 20px;
}

.home .article-content .starAndComment {
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    color: #818797;
}

.home .article-content .starAndComment .strong {
    height: 80px;
    float: right;
    margin-right: 20px;
    text-align: center;
}

.home .article-content .starAndComment a {
    display: block;
    width: 47px;
    height: 47px;
    line-height: 47px;
    border-radius: 47px;
    border: 1px solid #f4f4f4;
    background: #fff;
    margin: 0 auto 5px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgb(23 35 63 / 4%);
}

.home .article-content .starAndComment a {
    font-size: 19px;
    color: #818797;
}


/* 上传资源 */

.home .article-content ul li {
    margin-top: 20px;
}


/* 资源详情页 */

.article-content .resLogo {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.article-content .resLogo img {
    width: 100px;
    height: 100px;
}

.article-content .resLeft {
    float: left;
    font-size: 15px;
    width: 70px;
}

.article-content .resRight {
    margin-left: 50px;
}