html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
}

ul,
li,
a {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
}


/* 首页开始 */

.toolbar {
    width: 100%;
    height: 60px;
    box-shadow: 0px 3px 10px rgb(102 102 102 / 3%);
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.toolbar .layui-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 100px;
    /* border: 1px solid #000; */
}

.toolbar .layui-container .toolbar-container-left {
    width: 30%;
    height: 100%;
}

.toolbar .layui-container .toolbar-container-left .toolbar-logo > img {
    width: 60px;
    height: 60px;
    float: left;
}

.toolbar .layui-container .toolbar-container-left .toolbar-menus {
    float: left;
    margin-left: 50px;
}

.toolbar .layui-container .toolbar-container-left .toolbar-menus ul {
    height: 60px;
    width: 100%;
    line-height: 60px;
}

.toolbar .layui-container .toolbar-container-left .toolbar-menus ul li {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    color: #000;
}

.toolbar .layui-container .toolbar-container-left .toolbar-menus ul li :hover {
    color: #3e71f6;
}

.toolbar .layui-container .toolbar-container-middle {
    height: 100%;
    padding-top: 10px;
}

.toolbar .layui-container .toolbar-container-middle .search-input {
    width: 80%;
    border-radius: 30px 0px 0px 30px;
    float: left;
}

.toolbar .layui-container .toolbar-container-middle .search {
    border-radius: 0px 30px 30px 0px;
    float: left;
}

.toolbar .layui-container .toolbar-container-right {
    width: 30%;
    height: 100%;
    float: right;
}

.toolbar .layui-container .toolbar-container-right .layui-nav {
    background-color: #fff;
    color: #000;
}
.toolbar .layui-container .toolbar-container-right .layui-nav dl dd{
    cursor: pointer;
}

.toolbar .layui-container .toolbar-container-right .layui-nav .layui-nav-item a {
    color: #000;
}

.toolbar .LoginAndRegister {
    float: left;
    line-height: 60px;
}

.home {
    width: 100%;
    padding-top: 70px;
    margin: 0 auto;
}

.home .layui-container {
    width: 90%;
}

.home .home-left {
    float: left;
    background-color: #fff;
    padding-bottom: 20px;
}

.home .home-left .articleList {
    background-color: #fff;
    height: auto;
}

.home .home-left .articleList ul {
    width: 100%;
    height: auto;
}

.home .home-left .articleList ul li {
    width: 97%;
    margin: 0 auto;
}

.home .home-left .articleList ul li .article {
    margin: 20px;
}

.home .home-left .articleList ul li .article .articleTitle {
    width: 100%;
    color: #3E71F6;
}

.home .home-left .articleList ul li .article .articleTitle a {
    color: #000;
}

.home .home-left .articleList ul li .article .articleTitle a:hover {
    color: #3E71F6;
}

.home .home-left .articleList ul li .article .articleTitle a h2 {
    font-weight: bold;
    font-size: 18px;
}

.home .home-left .articleList ul li .article .articleImg {
    margin: 0 auto;
    margin: 10px 10px;
}

.home .home-left .articleList ul li .article .articleImg img {
    width: 90%;
    height: 70%;
}

.home .home-left .articleList ul li .article .articleContent {
    margin-top: 20px;
    line-height: 30px;
}

.home .home-left .articleList ul li .article .articleContent .articleDesc {
    overflow: hidden;
}

.home .home-left .articleList ul li .article .articleContent .articleDesc p {
    color: #999;
}

.home .home-left .articleList ul li .article .articleOperation {
    margin-top: 10px;
    color: #999;
}

.home .home-left .articleList ul li .article .articleOperation .author a {
    color: #999;
}

.home .home-left .articleList ul li .article .articleOperation .star img {
    width: 20px;
    float: left;
    line-height: 30px;
    margin-top: 5px;
    color: #999;
}

.home .home-left .articleList ul li .article .articleOperation .star p {
    color: #999;
    margin-left: 5px;
}

.home .home-left .articleList ul li .article .articleOperation .unstar {
    margin-left: -40px;
}

.home .home-left .articleList ul li .article .articleOperation .unstar img {
    width: 20px;
    float: left;
    line-height: 30px;
    margin-top: 5px;
    color: #999;
}

.home .home-left .articleList ul li .article .articleOperation .unstar p {
    color: #999;
    margin-left: 5px;
}

.home .home-right {
    float: left;
    padding-left: 10px;
}

.home .home-right .author {
    float: left;
    height: 250px;
    background-color: #fff;
    padding: 0 24px 24px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    /* background-color: red; */
}

.home .home-right .author img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
}

.home .home-right .author .authorName {
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
    margin-top: 10px;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home .home-right .mark {
    float: left;
    height: 380px;
    background-color: #fff;
    padding: 0 24px 24px;
}

.home .home-right .mark .mark-title {
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid #f7f8f9;
    color: #000;
}

.home .home-right .mark .mark-title h3 {
    font-weight: bold;
    float: left;
}

.home .home-right .mark .mark-title a {
    float: right;
}

.home .home-right .mark .mark-title a:hover {
    color: #1890ff;
}

.home .home-right .mark .mark-list ul li {
    line-height: 60px;
}

.home .home-right .mark .mark-list ul li .mark-list-logo {
    height: 100%;
    float: left;
}

.home .home-right .mark .mark-list ul li .mark-list-logo img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.home .home-right .mark .mark-list ul li .mark-list-desc {
    height: 10px;
    float: left;
}

.home .home-right .mark .mark-list ul li .mark-list-desc-name {
    line-height: 30px;
    font-size: 14px;
    margin-top: 10px;
}

.home .home-right .mark .mark-list ul li .mark-list-desc-score {
    line-height: 20px;
    font-size: 13px;
    color: rgba(0, 0, 0, .45);
}

.home .home-right .hot-article {
    float: left;
    max-height: 380px;
    background-color: #fff;
    padding: 0 24px 24px;
    margin-top: 10px;
}

.home .home-right .hot-article .hot-title {
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid #f7f8f9;
    color: #000;
}

.home .home-right .hot-article .hot-title h3 {
    font-weight: bold;
    float: left;
}

.home .home-right .hot-article .hot-title a {
    float: right;
}

.home .home-right .hot-article .hot-title a:hover {
    color: #1890ff;
}

.home .home-right .hot-article .hot-list ul li {
    line-height: 30px;
}

.footer {
    width: 100%;
    height: 80px;
    /* background-color: #32887c; */
    margin-top: 10px;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
}

.toTop {
    float: right;
    position: fixed;
    right: 24px;
    bottom: 24px;
    background-color: #9f9f9f;
    border-radius: 3px;
    opacity: .8;
    z-index: 99;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.toTop:hover {
    opacity: .95;
    cursor: pointer;
}

.toTop i {
    font-size: 40px;
    color: #fff;
}


/* 首页结束 */

.lunbotu {
    width: 100%;
    height: 200px;
}

.lunbotu .mySwiper {
    width: 100%;
    height: 100%;
}

.lunbotu .mySwiper img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}