html{
    width: 100%;
    height: 100%;
}

.toolbar .layui-container .toolbar-container-middle .title {
    width: 70%;
    border-radius: 30px;
    float: left;
}

.toolbar .layui-container .toolbar-container-right1 {
    height: 100%;
    float: right;
}

.toolbar .layui-container .toolbar-container-right1 .layui-nav {
    background-color: #fff;
    color: #000;
    z-index: 1000;
}

.toolbar .layui-container .toolbar-container-right1 .layui-nav .layui-nav-item a {
    color: #000;
}

.toolbar .layui-container .toolbar-container-middle .btn-save {
    margin-left: 100px;
    float: left;
}

.content {
    padding-top: 70px;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    padding-left: 100px;
}

.content .edui-editorr {
    text-align: center;
    margin: 0 auto;
    padding-left: 100px;
}

#test-editor{
    width: 100%;
    height: 500px;
}

#test-editor textarea{
    width: 100%;
    height: 500px;
}
.toolbar .type{
    width: 180px;
    border-radius: 0px;
    float: left;
}
.toolbar .btn-publish{
    float: left;
    margin-left: 20px;
}