<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>忘记密码</title>
    <link type="favicon" rel="shortcut icon" th:href="@{/img/pns.png}">
    <!-- 引入Jquery  -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- 引入Layui.css -->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <!-- 引入Layui.js -->
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/forget.js}"></script>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
    <div class="layui-form" id="loginForm">
        <div class="layui-form-item">
            <h1>忘&nbsp;记&nbsp;密&nbsp;码</h1>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <span class="decrib">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</span>
                <input type="text" name="email" placeholder="请输入邮箱" class="layui-input" id="email" required>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <span class="decrib">新&nbsp;&nbsp;密&nbsp;&nbsp;码：</span>
                <input type="password" name="password" placeholder="请输入新密码" class="layui-input" id="password">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <span class="decrib">邮箱验证：</span>
                <input type="text" name="emailcode" placeholder="请输入收到的验证码" autocomplete="off" class="layui-input-checkCode" required="" id="emailcode">
                <span class="tel-code">点击获取验证码</span>
            </div>
        </div>
        <br>
        <div class="layui-form-item submit">
            <div class="layui-input-block layui-col-md8">
                <button class="layui-btn layui-btn-bypercent-left btn" id="submit">确认修改</button> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <button class="layui-btn layui-btn-bypercent-right" id="reset" type="reset">重 置</button>
            </div>
        </div>
        <br>
        <br>
    </div>

</body>

</html>